/* ========= Base Style =========== */
body {
  font-family: "Rubik", sans-serif;
  color: #555;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3.3rem;
  color: #333;
  line-height: 1;
}
p {
  line-height: 1.5;
  font-size: 1.2rem;
}
/* ======== Common Class Style ========== */
.flex {
  display: flex;
  align-items: center;
}
.button {
  appearance: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.primary-btn {
  color: #ffffff;
  background: #e67e22;
}
.secondary-btn {
  background: #fff;
  color: #555;
}
.grid {
  display: grid;
}
/* ========= NavBar ========== */
header {
  justify-content: space-between;
  padding: 30px 50px 0px 50px;
  gap: 50px;
  background: #fdf2e9;
}
header section {
  width: 10%;
}
.logo-img {
  width: 100%;
}
.header-nav {
  gap: 30px;
}
.header-nav a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

/* ======== Main ========== */
.main {
  background-color: #fdf2e9;
  grid-template-columns: 1fr 1fr;
  padding: 50px 350px;
  gap: 150px;
  font-size: 1rem;
}
.main-img {
  width: 100%;
}
.customer-img {
  width: 40%;
  display: flex;
}
.customer-img img {
  border-radius: 50%;
  width: 100%;
  margin-right: -20px;
  border: 5px solid #fff;
}
.customer-img img:last-child {
  margin-right: 20px;
}
.main button {
  margin: 10px 40px 50px auto;
  padding: 15px 30px;
}
.customer-img + p {
  font-size: 1.1rem;
  font-weight: 700;
}
.meal-count {
  color: #cf711f;
}

/* ======= Featured In ======== */
.feature-in {
  padding-top: 50px;
}
.featured-img {
  margin: 0 auto;
  justify-content: space-around;
  width: 60%;
}
.featured-img img {
  height: 2.2rem;
  opacity: 0.5;
  filter: brightness(0);
}
.feature-in h3 {
  text-align: center;
}

/* ====== How It Work ========== */
.how-work {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
}
.guide-text {
  font-size: 1.3rem;
  color: #cf711f;
  font-weight: 600;
}
.heading {
  font-size: 2.5rem;
  color: #000;
}
h2.step-number {
  font-size: 5rem;
  color: #ddd;
}
.step {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 150px;
  padding-top: 150px;
}
.step img {
  width: 40%;
}
/* ======== Meal ========== */
.meal {
  width: 60%;
  margin: 100px auto;
}
.meal-menu {
  align-items: center;
  justify-content: space-between;
}
.meal-menu-items {
  width: 30%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.meal-menu-items img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.meal-menu-detail {
  justify-content: center;
}
.meal-menu-detail div {
  display: flex;
  align-items: center;
  gap: 50px;
}
.md.hydrated {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-menu-sidebar p {
  width: 50%;
  margin: auto;
}

/* pricing ==== */
.pricing {
  width: 60%;
  margin: 0 auto;
}
.pricing-card-container {
  justify-content: space-around;
}
.pricing-card {
  margin: 0 auto;
  border: 2px solid #fdf2e9;
  padding: 50px 50px;
}

/* Form ====== */
.form {
  width: 60%;
  margin: auto;
  background-color: #cf711f;
  border-radius: 20px;
}
.form-img {
  background: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  width: 80%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form > section:first-child {
  align-self: flex-start;
  padding: 10px 50px;
}
.form .grid {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
input[type],
select,
.form button {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  padding: 0px 10px;
  border: none;
  font-size: 1.2rem;
}

/* Footer ======= */
footer {
  justify-content: space-around;
  text-decoration: none;
}
footer img {
  width: 50%;
}
footer > section:first-child {
  width: 20%;
}
footer section {
  /* width: 20%; */
  display: grid;
  align-items: center;
}
